
body {
  background-image: linear-gradient(45deg, #4ebd36, #7e7cf9);
  background-attachment: fixed;
  min-height: 100vh;
  padding: 100px;
  font-family: Roboto, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  min-width: 600px;
  max-width: 1000px;
}

tr {
  background: #fff;
  color: #808080;
}

tr:nth-child(2n + 1) {
  background: #f5f5f5;
}

td,
th {
  text-align: left;
  padding: 18px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  &:hover {
    color: gray;
  }
}

.nav__link {
  text-decoration: none;
  padding: 10px;
  color: whitesmoke;
  font-size: larger;
}



.active {
  color: white;
  display: inline-block;
  &::after {
    content: '';
    border-bottom: 1.5px solid red;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
