iframe {
  display: none !important;
}

.App {
  width: 900px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 14px;
  margin-top: 20px;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  a {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
  }
}

.homePage {
  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
}

.peoplePage {
  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    tr,
    td {
      border: 1px solid rgba(0, 0, 0, 0.7);
      padding: 8px 10px;
    }
  }
}
